.hide{
    min-height: 100vh;
    max-height: 100vh;
    background: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .text{
        @include font-mono;
        font-weight: bold;
        color: white;
        font-size: em(64);
        background-color: rgb(10, 10, 10);
        display: inline-block;
        overflow: hidden;

        transform: translateY(1000%);
    }
   
}

.show{
    display: none;
    opacity: 0;
    overflow: hidden;
}

.header{
    background: rgb(39, 39, 39);
    box-shadow: 0 0 rem(16) 0 rgba(44, 44, 44, .75);
    &__wrapper{
        @include wrapper;
        @include font-normal;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: rem(16) 0;
        h2{
            font-size: em(48);
        }

        .header__nav{
            &__ul{
                display: flex;

                .header__nav__ul__item-cv{
                    background: rgb(98, 0, 211);
                    
                    padding: rem(8) rem(64);
                    border-radius: rem(4);
                    transition: box-shadow, background .3s;
                    &:hover{
                        border-bottom: none;
                        box-shadow: rem(4) rem(4) rem(16) 0 rgba(0, 0, 0, 0.50);
                        background: rgb(119, 0, 255);
                    }
                }
                li{
                    a{
                        padding: rem(8) rem(16);
                        &:hover{
                            border-bottom: 3px solid white;
                        }
                    }
                }

                li+li{
                    margin-left: rem(32);
                }
            }
        }
    }
}
.main{
    background-color: rgba(44, 44, 44, 0.02);
    max-height: 84.3vh;
}

.main__wrapper{
    @include wrapper;
    padding: rem(128) 0;
    display: grid;
    align-items: center;
    grid-template-areas: 'fixo dinamico';
    grid-template-columns: 1fr 2fr;
    

    &__fixo{
        grid-area: fixo;
        align-self: start;
        .imagem{
            img{
                box-shadow: 0 0 rem(16) 0 rgba(0, 0, 0, 0.07);
                border-radius: 50%;
            }
        }
    }

    &__dinamico{
        padding: 0 rem(16);
        grid-area: dinamico;
        align-self: start;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        min-height: rem(499);
        max-height: rem(500);
        .sobre-mim{
            
            h2{
                @include font-normal;
                font-size: em(48);
                margin-bottom: rem(32);      
                border-bottom: 1px solid rgba(39, 39, 39, .2);
                padding-bottom: rem(16); 
            }

            p{
                @include font-mono;
                line-height: 1.5em;
                max-width: 90%;
            }

            p+p{
                margin-top: rem(16);
            }

            a{
                @include font-normal;
                display: inline-block;
                font-size: em(32);
                color: white;
                background: rgb(98, 0, 211);
                margin-top: rem(32);
                padding: rem(16) rem(32);
                border-radius: rem(4);

                box-shadow: rem(4) rem(4) rem(16) 0 rgba(0, 0, 0, 0.07);

                transition: all .2s ease-in;

                &:hover{
                    background: rgb(115, 0, 247);
                    box-shadow: rem(4) rem(4) rem(16) 0 rgba(0, 0, 0, 0.5);
                }
            }
        }
        .projetos{
            display: none;
            h2{
                @include font-normal;
                font-size: em(48);
                margin-bottom: rem(32);      
                border-bottom: 1px solid rgba(39, 39, 39, .2);
                padding-bottom: rem(16);
            }
            p{
                @include font-mono;
                line-height: 1.5em;
                max-width: 90%;
            }

            &__wrapper{
                display: flex;
                flex-wrap: wrap;
                margin-top: rem(64);
                

                &__item{
                    flex: 1;
                    box-shadow: rem(0) rem(0) rem(4) rem(4) rgba(44, 44, 44, 0.02);
                    margin: rem(16);
                    padding: rem(16);
                    border-radius: rem(4);
                    background: white;

                    h2{
                        @include font-normal;
                        font-size: em(48);
                        margin-bottom: rem(32);      
                        border-bottom: 1px solid rgba(39, 39, 39, .2);
                        padding-bottom: rem(16);
                        
                    }
                    p{
                    }
                }
            }
        }
    }
}

.contato{
    display: none;
    &__wrapper{
        h2{
            @include font-normal;
            font-size: em(48);
            margin-bottom: rem(32);      
            border-bottom: 1px solid rgba(39, 39, 39, .2);
            padding-bottom: rem(16);
        }
        p{
            @include font-mono;
            line-height: 1.5em;
            max-width: 90%;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            margin-top: rem(64);
            li+li{
                margin-left: rem(32);
            }
            li{
                a{
                    
                    img{
                        padding: rem(16);
                        max-width: rem(64);
                        
                        border: 2px solid rgba(44, 44, 44, .7);
                        transition: border-color .3s ease-in-out;

                        &:hover{
                            border-color: rgba(44, 44, 44, 1);
                        }
                    }
                }
            }
        }
    }
}
.hide-section{
    display: none;
    opacity: 0;
    transition: all 3s ease-in;
}

.active{
    opacity: 1;
}

.footer{
    background: rgb(39, 39, 39);
    
    &__wrapper{
        @include wrapper;
        p{
            padding: rem(16) 0;
            color: white;
            @include font-mono;

        }
    }
}